.userLink a,
.content a {
  color: inherit;
}

.content pre {
  white-space: pre-wrap;
}

.content a {
  overflow-wrap: break-word;
}

.userLink {
  opacity: 0.8;
}

.content > p + p {
  margin-top: 0.5em;
}
